<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>Music Land</display-name>
    <welcome-file-list>
        <!--        <welcome-file>index.jsp</welcome-file>-->
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>by.tsvirko.music_shop.controller.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
        <!--        <url-pattern>/</url-pattern>-->
    </servlet-mapping>

<!--    <servlet-mapping>-->
<!--        <servlet-name>default</servlet-name>-->
<!--        <url-pattern>/bootstrap/*</url-pattern>-->
<!--        <url-pattern>/css/*</url-pattern>-->
<!--        <url-pattern>/img/*</url-pattern>-->
<!--        <url-pattern>*.ico</url-pattern>-->
<!--    </servlet-mapping>-->

    <filter>
        <filter-name>XSSPreventionFilter</filter-name>
        <filter-class>by.tsvirko.music_shop.filter.XSSPreventionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSPreventionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.tsvirko.music_shop.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>DispatcherServlet</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>CookieLocaleFilter</filter-name>
        <filter-class>by.tsvirko.music_shop.filter.CookieLocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookieLocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>DispatcherServlet</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>CashFilter</filter-name>
        <filter-class>by.tsvirko.music_shop.filter.CashFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CashFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CommandFilter</filter-name>
        <filter-class>by.tsvirko.music_shop.filter.CommandFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CommandFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <!--        <url-pattern>*.jsp</url-pattern>-->
        <!--        <servlet-name>DispatcherServlet</servlet-name>-->
    </filter-mapping>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>by.tsvirko.music_shop.filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <!--        <url-pattern>*.jsp</url-pattern>-->
        <url-pattern>*.html</url-pattern>
        <!--        <servlet-name>DispatcherServlet</servlet-name>-->
    </filter-mapping>

    <listener>
        <listener-class>by.tsvirko.music_shop.listener.RequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>by.tsvirko.music_shop.listener.AppContextAttributeListener</listener-class>
    </listener>
    <session-config>
        <!-- Disables URL-based sessions (no more 'jsessionid' in the URL) -->
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <!--    <error-page>-->
    <!--        <error-code>404</error-code>-->
    <!--        <location>/WEB-INF/error/error.jsp</location>-->
    <!--    </error-page>-->
    <!--    <error-page>-->
    <!--        <exception-type>java.lang.RuntimeException</exception-type>-->
    <!--        <location>/WEB-INF/error/error.jsp</location>-->
    <!--    </error-page>-->

</web-app>
